<!DOCTYPE html>
<html xmlns:th="http://thymleaf.org"
	th:replace="fragments/layout :: body_layout(~{::body},~{::h1})">
<h1 class="font-weight-light">Compensation Claim Form</h1>
<body>


	
	<form class="form" th:object="${compensationclaim}" th:action="@{/compensationclaim}"  method="post">



		<div class="row">
			<div>
					<div>
					<input type="hidden" class="form-control" th:field="*{id}" /> 
 						<input type="hidden" class="form-control" th:field="*{staff}" />
 						<input type="hidden" class="form-control" th:field="*{status}" />  
					</div>
				</div>
				<div class="col-6">
				<div class="row">
					<div class="col-3 form-group ">
						<label for="date">Date  : </label>
					</div>
					<div class="col-9 form-group">
						<input type="date" class="form-control" th:field="*{date}" />
					</div>
					<div class="col-3 form-group"></div>
					<div class="col-9 form-group">
						<p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger float-left"></p>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-4 form-group">
						<label for="noOfHours" >Number of Hour : </label>
					</div>
					<div class="col-8 form-group">
						<input type="text" class="form-control" th:field="*{noOfHours}" />
					</div>
					<div class="col-4 form-group"></div>
					<div class="col-8 form-group">
						<p class="text-danger float-left" th:if="${#fields.hasErrors('noOfHours')}" th:errors="*{noOfHours}"></p>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-3 form-group" style="padding-left: 27px;">
						<label for="reasons" class="float-left">Reason : </label>
					</div>
					<div class="col-12" style="padding-left: 27px;">

						<input type="text" class="form-control" th:field="*{reasons}" />
				


					</div>

					<div class="col-12 form-group">
						<p class="text-danger float-left" th:if="${#fields.hasErrors('reasons')}" th:errors="*{reasons}"></p>
					</div>

				</div>
			</div>
			
			
			<div class="col-6">
				<div class="row">
					<div class="col-12 form-group">
						<input type="submit" value="save" class="btn btn-info " />
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>