<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>hi staff</title>
</head>
<body>

<div >
	<a th:href="@{'/leaveapply'}"> Leave Apply</a>
</div>

<table border="1" style="marging-top:10px">
	<tr>
		<th>Leave Id</th>
		<th>Name</th>
		<th>From date</th>
		<th>To date</th>
		<th>Status</th>
	</tr>
	<tr th:each="leave : ${leaves}">
		<td><a th:href="@{'/leavedetails/'+${leave.id}}" th:text="${leave.id}"></a></td>
		<td th:text="${leave.staff.staffName}"></td>
		<td th:text="${leave.fromDate}"></td>
		<td th:text="${leave.toDate}"></td>
		<td th:text="${leave.status}"></td>
	</tr>
	
</table>
</body>
</html>