<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Leave Type Form</title>
</head>
<body>
<form class="form-horizontal" th:object="${leaveType}" method="post">
			
				<div class="form-group">
					<label class="col-sm-2 control-label">Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{leaveTypeName}"/>
						<p th:if="${#fields.hasErrors('leaveTypeName')}" th:errors="*{leaveTypeName}"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>

			</form>
</body>
</html>