<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Public Holidays</title>
</head>
<body>
	<h2>Public Holidays</h2>
	<table>
		<tr>
			<th>HolidayName</th>
			<th>Holiday Date</th>
		</tr>
		<tr th:each="holiday : ${PublicHoliday}">
			<td th:text="${holiday.name}">holidayName</td>
			<td th:text="${holiday.date}">holidayStartDate</td>
			<td><a th:href="${'/DeleteHoliday/'+ holiday.Id}">Remove</a></td>
			<!--      <td><a th:href="${'/updateHoliday/'+ totholz.Id}">Edit</a></td> -->
		</tr>
	</table>
	<div>
		<p>
			<a th:href="${'/createpublicholiday'}">Add New Holiday</a>
		</p>
	</div>
</body>
</html>